@import 'partials/reset';
@import 'partials/general_styles';
* {
  box-sizing: border-box;
}

// div {
//   border-style: dotted;
//   border-width: 2px;
//   border-color: red;
// }

.kanban{
  width: 100%;

  .columnContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .column{
      width: calc(100%/3);
      flex-flow: row wrap;
      text-align: center;

      .queueColumn {
        border-top: black 1px solid;
        flex: 0 0 calc(90%/3);
        .card {
          margin: 0 auto;
          width: 65%;
        }
        @include respond-to('large'){
          display: flex;
          flex-flow: row wrap;
          .card {
            flex: 0 0 calc(90%/3);
          }
        }
      }
      .inProgressColumn {
        border-top: black 1px solid;
        flex: 0 0 calc(90%/3);
        .card {
          margin: 0 auto;
          width: 65%;
        }
        @include respond-to('large'){
          display: flex;
          flex-flow: row wrap;
          .card {
            flex: 0 0 calc(90%/3);

          }
        }
      }
      .doneColumn {
        border-top: black 1px solid;
        flex: 0 0 calc(90%/3);
        .card {
          margin: 0 auto;
          width: 65%;
        }
        @include respond-to('large'){
          display: flex;
          flex-flow: row wrap;
          .card {
            flex: 0 0 calc(90%/3);
          }
        }
      }
    }
  }
}

.card {
  background-color: $green-card;
}