// General Typography

h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
}

h2 {
  font-size: 1.75em;
}

body {
  background-color: #fff;
  font-family: 'Amatic SC', cursive;
}
p {
  font-size: 1.25em;
}


// Partials & Variables

$breakpoints: (
  'large':  900px,
  'medium': 740px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}